node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.env

# Windows system files
*.ini
*.lnk
*.dat
Thumbs.db
.DS_Store

# User directories
Documents/
Downloads/
Videos/
Music/
Desktop/
